<a href="https://colab.research.google.com/github/Eric-Mendes/spotify-charts/blob/main/data_analyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SPOTIFY CHARTS**

Análise de dados feita no dataset de características das músicas para estudar as virais de cada região.

In [10]:
# importando as bibliotecas necessárias
import pandas as pd # dados
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt # gráficos

In [2]:
# importando o dataset com as features de cada uma das músicas virais
# em um dataframe
url = "https://raw.githubusercontent.com/Eric-Mendes/spotify-charts/main/data/\
spotify_api_caracteristicas_virais_08-02-2021.csv"

df = pd.read_csv(url)
df.head()

   DANCEABILITY  ENERGY  KEY  ...  DURATION_MS  TIME_SIGNATURE          REGIÃO
0         0.642   0.600    8  ...       205427               5  BELO HORIZONTE
1         0.921   0.534    6  ...       195692               4  BELO HORIZONTE
2         0.888   0.580   10  ...       151038               4  BELO HORIZONTE
3         0.665   0.507    0  ...       134574               4  BELO HORIZONTE
4         0.917   0.621    6  ...       191567               4  BELO HORIZONTE

[5 rows x 14 columns]

In [3]:
# Mapeando cada região para um número para melhor análise
df['REGIÃO'] = df['REGIÃO'].astype('category').cat.codes

df.head()

   DANCEABILITY  ENERGY  KEY  ...  DURATION_MS  TIME_SIGNATURE  REGIÃO
0         0.642   0.600    8  ...       205427               5       0
1         0.921   0.534    6  ...       195692               4       0
2         0.888   0.580   10  ...       151038               4       0
3         0.665   0.507    0  ...       134574               4       0
4         0.917   0.621    6  ...       191567               4       0

[5 rows x 14 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DANCEABILITY      500 non-null    float64
 1   ENERGY            500 non-null    float64
 2   KEY               500 non-null    int64
 3   LOUDNESS          500 non-null    float64
 4   MODE              500 non-null    int64
 5   SPEECHINESS       500 non-null    float64
 6   ACOUSTICNESS      500 non-null    float64
 7   INSTRUMENTALNESS  500 non-null    float64
 8   LIVENESS          500 non-null    float64
 9   VALENCE           500 non-null    float64
 10  TEMPO             500 non-null    float64
 11  DURATION_MS       500 non-null    int64
 12  TIME_SIGNATURE    500 non-null    int64
 13  REGIÃO            500 non-null    int8
dtypes: float64(9), int64(4), int8(1)
memory usage: 51.4 KB

In [13]:
df.groupby(by="REGIÃO").describe()

       DANCEABILITY                                     ... TIME_SIGNATURE
              count     mean       std    min      25%  ...            min  25%  50%  75%  max
REGIÃO                                                  ...
0             100.0  0.74423  0.116313  0.479  0.64875  ...            3.0  4.0  4.0  4.0  5.0
1             100.0  0.72136  0.119551  0.436  0.64175  ...            3.0  4.0  4.0  4.0  5.0
2             100.0  0.73500  0.128544  0.412  0.64225  ...            1.0  4.0  4.0  4.0  5.0
3             100.0  0.67417  0.130332  0.349  0.59700  ...            1.0  4.0  4.0  4.0  5.0
4             100.0  0.71500  0.141078  0.349  0.61800  ...            3.0  4.0  4.0  4.0  5.0

[5 rows x 104 columns]