<a href="https://colab.research.google.com/github/Eric-Mendes/spotify-charts/blob/main/data_analyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SPOTIFY CHARTS**

Análise de dados feita no dataset de características das músicas para estudar as virais de cada região.

In [1]:
# importando as bibliotecas necessárias
import pandas as pd # dados
from matplotlib import pyplot as plt # gráficos

In [2]:
# importando o dataset com as features de cada uma das músicas virais
# em um dataframe
url = "https://raw.githubusercontent.com/Eric-Mendes/spotify-charts/main/data/\
spotify_api_caracteristicas_virais_08-02-2021.csv"

df = pd.read_csv(url)
df.head()

   DANCEABILITY  ENERGY  KEY  ...  DURATION_MS  TIME_SIGNATURE          REGIÃO
0         0.642   0.600    8  ...       205427               5  BELO HORIZONTE
1         0.921   0.534    6  ...       195692               4  BELO HORIZONTE
2         0.888   0.580   10  ...       151038               4  BELO HORIZONTE
3         0.665   0.507    0  ...       134574               4  BELO HORIZONTE
4         0.917   0.621    6  ...       191567               4  BELO HORIZONTE

[5 rows x 14 columns]

In [3]:
# mapeando cada região para um número para melhor análise

def map_region_to_number(region):
  if region == "BELO HORIZONTE":
    return 0

  elif region == "SÃO PAULO":
    return 1

  elif region == "CURITIBA":
    return 2

  elif region == "BRASÍLIA":
    return 3

  elif region == "RIO DE JANEIRO":
    return 4


regions = list(df['REGIÃO'])
df['REGIÃO'] = list(map(map_region_to_number, regions))

df.head()

   DANCEABILITY  ENERGY  KEY  ...  DURATION_MS  TIME_SIGNATURE  REGIÃO
0         0.642   0.600    8  ...       205427               5       0
1         0.921   0.534    6  ...       195692               4       0
2         0.888   0.580   10  ...       151038               4       0
3         0.665   0.507    0  ...       134574               4       0
4         0.917   0.621    6  ...       191567               4       0

[5 rows x 14 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DANCEABILITY      500 non-null    float64
 1   ENERGY            500 non-null    float64
 2   KEY               500 non-null    int64
 3   LOUDNESS          500 non-null    float64
 4   MODE              500 non-null    int64
 5   SPEECHINESS       500 non-null    float64
 6   ACOUSTICNESS      500 non-null    float64
 7   INSTRUMENTALNESS  500 non-null    float64
 8   LIVENESS          500 non-null    float64
 9   VALENCE           500 non-null    float64
 10  TEMPO             500 non-null    float64
 11  DURATION_MS       500 non-null    int64
 12  TIME_SIGNATURE    500 non-null    int64
 13  REGIÃO            500 non-null    int64
dtypes: float64(9), int64(5)
memory usage: 54.8 KB

**Belo Horizonte**

In [18]:
df.loc[df['REGIÃO'] == 0].describe()

       DANCEABILITY      ENERGY  ...  TIME_SIGNATURE  REGIÃO
count    100.000000  100.000000  ...      100.000000   100.0
mean       0.744230    0.686390  ...        4.010000     0.0
std        0.116313    0.148339  ...        0.362232     0.0
min        0.479000    0.300000  ...        3.000000     0.0
25%        0.648750    0.582250  ...        4.000000     0.0
50%        0.748500    0.684500  ...        4.000000     0.0
75%        0.827750    0.806000  ...        4.000000     0.0
max        0.953000    0.943000  ...        5.000000     0.0

[8 rows x 14 columns]

**São Paulo**

In [19]:
df.loc[df['REGIÃO'] == 1].describe()

       DANCEABILITY      ENERGY  ...  TIME_SIGNATURE  REGIÃO
count    100.000000  100.000000  ...      100.000000   100.0
mean       0.715000    0.679200  ...        4.070000     1.0
std        0.141078    0.140982  ...        0.293189     0.0
min        0.349000    0.300000  ...        3.000000     1.0
25%        0.618000    0.594000  ...        4.000000     1.0
50%        0.705500    0.679000  ...        4.000000     1.0
75%        0.827250    0.789000  ...        4.000000     1.0
max        0.953000    0.952000  ...        5.000000     1.0

[8 rows x 14 columns]

**Curitiba**

In [20]:
df.loc[df['REGIÃO'] == 2].describe()

       DANCEABILITY      ENERGY  ...  TIME_SIGNATURE  REGIÃO
count    100.000000  100.000000  ...      100.000000   100.0
mean       0.735000    0.701460  ...        3.970000     2.0
std        0.128544    0.153178  ...        0.481055     0.0
min        0.412000    0.204000  ...        1.000000     2.0
25%        0.642250    0.623250  ...        4.000000     2.0
50%        0.734000    0.706000  ...        4.000000     2.0
75%        0.840750    0.820000  ...        4.000000     2.0
max        0.967000    0.934000  ...        5.000000     2.0

[8 rows x 14 columns]

**Brasília**

In [21]:
df.loc[df['REGIÃO'] == 3].describe()

       DANCEABILITY      ENERGY  ...  TIME_SIGNATURE  REGIÃO
count    100.000000  100.000000  ...      100.000000   100.0
mean       0.721360    0.730000  ...        4.020000     3.0
std        0.119551    0.148847  ...        0.245361     0.0
min        0.436000    0.336000  ...        3.000000     3.0
25%        0.641750    0.644750  ...        4.000000     3.0
50%        0.736000    0.756500  ...        4.000000     3.0
75%        0.806500    0.855250  ...        4.000000     3.0
max        0.934000    0.961000  ...        5.000000     3.0

[8 rows x 14 columns]

**Rio de Janeiro**

In [22]:
df.loc[df['REGIÃO'] == 4].describe()

       DANCEABILITY      ENERGY  ...  TIME_SIGNATURE  REGIÃO
count    100.000000  100.000000  ...      100.000000   100.0
mean       0.674170    0.677580  ...        3.940000     4.0
std        0.130332    0.130396  ...        0.397467     0.0
min        0.349000    0.323000  ...        1.000000     4.0
25%        0.597000    0.604000  ...        4.000000     4.0
50%        0.679000    0.665500  ...        4.000000     4.0
75%        0.756500    0.762250  ...        4.000000     4.0
max        0.934000    0.976000  ...        5.000000     4.0

[8 rows x 14 columns]